* {
    box-sizing: border-box;

}

body{
	background-color: #3c1f55;
	
}


hr{
	border-top: 1px solid rgba(255, 255, 255, 0.38);
}
.hr-b{
	border-top: 1px solid #e237a030;
}

.header-content-host{
	color: white;
	font-size: 1.40em;
}
.description{
	font-size: 1em;
}


.top-img{
	background-color: white;
	width: 100%;
}


.content-5{
	padding: 5px;
	background-color: white;
}

.input-box{
	color:#e237a0;
	padding: 5px;
	width: 100%;
}

.input-box:focus{
	outline: none;
	

}
.important{
	color: red;
}

.input-grouper{
	margin-bottom: 5px;
	margin-top:5px;
}

.input-wrap{
	padding: 10px;
}

.bg-pink{
	/*background-color: #e237a0;*/
}

.pick-map-wrap{
	border-radius: 7px;
	border:dotted 2px #e237a0; 
	padding: 1em;
	/*background-color: #e237a0;*/
}

#map_canvas{
	margin: 0;
    padding: 0;
    height: 400px;
}

.ip2{
	margin-bottom: 1em;
	margin-top: 1em;
}

.description_map{
	color: #e237a0;
	font-size: 0.7em;
}



/*finish*/